Matchstick/content/schemas/gameState.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
        	xmlns="http://schemas.matchstickframework.org/2007/gameState"
        	targetNamespace="http://schemas.matchstickframework.org/2007/gameState">
	<xs:element name="gameState">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gameuid" type="xs:string" maxOccurs="1"/>
        <xs:element name="gameversion" type="xs:decimal" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
