Matchstick/content/schemas/gamesourcemanifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	xmlns:xs="http://www.w3.org/2001/XMLSchema"
        	xmlns="http://schemas.matchstickframework.org/2007/game"
        	targetNamespace="http://schemas.matchstickframework.org/2007/gamesourcemanifest">
  <xs:element name="gamesourcemanifest">
    <xs:complexType>
      <xs:all>
        <xs:element name="gamesourceservice" type="xs:string" />
        <xs:element name="developerservice" type="xs:string" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
