Matchstick/content/schemas/preferences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema   	xmlns:xs="http://www.w3.org/2001/XMLSchema"
        	xmlns="http://schemas.matchstickframework.org/2007/preferences"
        	targetNamespace="http://schemas.matchstickframework.org/2007/preferences">
	<xs:element name="preferences">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="preference" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="value" type="xs:string"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
